{% extends 'base.html' %}

{% block content %}
    <p>Leave value blank if unknown; insert a hyphen if it doesn't exist.</p>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>English Name</th>
                <th>Ancestor</th>
                <th>ISO-639-1</th>
                <th>ISO-639-2</th>
                <th>ISO-639-3</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <form method="POST">
                    <td><input type="text" placeholder="Language name" name="name" /></td>
                    <td><input type="text" placeholder="English name" name="eng_name" required/></td>
                    <td><input type="text" placeholder="Ancestor" name="ancestor" /></td>
                    <td><input type="text" placeholder="ISO-639-1" name="iso_639_1" /></td>
                    <td><input type="text" placeholder="ISO-639-2" name="iso_639_2" /></td>
                    <td><input type="text" placeholder="ISO-639-3" name="iso_639_3" /></td>                    
                    <td><input type="submit" class="btn btn-primary" value="Add" /></td>
                </form>
            </tr>
            {% for language in languages %}
                <tr>
                    <td id={{ language.id }} name="name">{{ language.name or ''}}</td>
                    <td id={{ language.id }} name="eng_name">{{ language.eng_name or ''}}</td>
                    <td id={{ language.id }} name="ancestor">{{ language.ancestor or ''}}</td>
                    <td id={{ language.id }} name="iso_639_1">{{ language.iso_639_1 or ''}}</td>
                    <td id={{ language.id }} name="iso_639_2">{{ language.iso_639_2 or ''}}</td>
                    <td id={{ language.id }} name="iso_639_3">{{ language.iso_639_3 or ''}}</td>
                    <td><button type="button" class="btn btn-danger" id={{ language.id }} value="Delete">Delete</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}

{% block scripts %}
    <script>
        let language_edit_url = {{ url_for('lexengine.language_edit')|tojson|safe }};
        let language_delete_url = {{ url_for('lexengine.language_delete')|tojson|safe }};
    </script>
    <script src="{{ url_for('static', filename='scripts/languages.js') }}"></script>
{% endblock scripts %}  