{% extends 'base.html' %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>English Name</th>
                <th>Ancestor</th>
                <th>ISO-639-1</th>
                <th>ISO-639-2</th>
                <th>ISO-639-3</th>   
            </tr>
        </thead>
        <tbody>
            <tr>
                <form method="POST">
                    <td><input type="text" placeholder="Language name" name="name" /></td>
                    <td><input type="text" placeholder="English name" name="eng_name" required/></td>
                    <td><input type="text" placeholder="Ancestor" name="ancestor" /></td>
                    <td><input type="text" placeholder="ISO-639-1" name="iso_639_1" /></td>
                    <td><input type="text" placeholder="ISO-639-2" name="iso_639_2" /></td>
                    <td><input type="text" placeholder="ISO-639-3" name="iso_639_3" /></td>                    
                    <td><input type="submit" value="Add Language" /></td>
                </form>
            </tr>
            {% for language in languages %}
                <tr>
                    <td id={{ language.id }} name="name">{{ language.name }}</td>
                    <td id={{ language.id }} name="eng_name">{{ language.eng_name }}</td>
                    <td id={{ language.id }} name="ancestor">{{ language.ancestor }}</td>
                    <td id={{ language.id }} name="iso_639_1">{{ language.iso_639_1 }}</td>
                    <td id={{ language.id }} name="iso_639_2">{{ language.iso_639_2 }}</td>
                    <td id={{ language.id }} name="iso_639_3">{{ language.iso_639_3 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            $('tr').on('click', 'td[id]', function() {
                let td = $(this);
                let text = td.text();
                let id = td.attr('id');
                let name = td.attr('name');
                if (!td.children("input").length > 0) {
                    td.html(
                        `<input id=${id} name=${name} value=${text}></input>`
                    );
                }
            });

            $('tr').on('focusout', 'td[id] > input', function() {
                let id = $(this).attr('id');
                let val = $(this).val();
                let col = $(this).attr('name');
                $.post(
                    `{{ url_for('lexengine.language_edit', lang_id='${id}') }}`,
                    {id, val, col}
                );

                $(this).parent().replaceWith(
                    `<td id=${id} name=${col}>${val}</td>`
                );

            })
        });
    </script>
{% endblock scripts %}  