{% extends 'base.html' %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Word</th>
                <th>IPA</th>
            </tr>
        </thead>
        <tr>
            <form>
                <td><input type="text" name="word" /></td>
                <td><input type="text" name="IPA" /></td>
                <td><input type="submit" /></td>
            </form>
        </tr>
        {% for word in lexicon %}
            <tr>
                <td>{{ word["word"] }}</td>
                <td>{{ word["IPA"] }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}