{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/tengwar.css') }}" />
{% endblock head %}

{% block content %}
    <select id="language">
        <option value="cymraeg">Cymraeg</option>
    </select>
    <textarea id="text"></textarea>
    <button>Transcribe</button>
    <textarea id="tengwar" value="{{ transcribed }}"></textarea>

    <hr />
    <img src="{{ url_for('static', filename='images/tengwar_cym.gif') }}" />
    <img src="{{ url_for('static', filename='images/cymraeg_mode_notes.png') }}" />
    <img src="{{ url_for('static', filename='images/cymraeg_mode_sample.png') }}" />
{% endblock content %}

{% block scripts %}
    <script>
        let tengwar_url = {{ url_for('lexengine.tengwar')|tojson|safe }};
        let transcribed = {{ transcribed|tojson|safe }};
    </script>
    <script src="{{url_for('static', filename='scripts/tengwar.js') }}"></script>
{% endblock scripts %}